# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tgb/node_modules
/tgb/.pnp
/tgb/.pnp.js

# testing
/tgb/coverage

# production
/tgb/build

# misc
/tgb/.DS_Store
/tgb/.env.local
/tgb/.env.development.local
/tgb/.env.test.local
/tgb/.env.production.local

/tgb/npm-debug.log*
/tgb/yarn-debug.log*
/tgb/yarn-error.log*
